@page
@model IndexModel
@{ ViewData["Title"] = "Home page"; }


<div>
    <p>
        <a asp-page="OwleeRegister">Create New Owlee</a>
    </p>

    <h5>List of Owlees</h5>
</div>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.allOwlees[0].Email)</th>
            <th>@Html.DisplayNameFor(model => model.allOwlees[0].Name)</th>
            <th>@Html.DisplayNameFor(model => model.allOwlees[0].Inventory_ID)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{ if (Model.allOwlees != null)
            {

                @foreach (var item in Model.allOwlees)
                {
                    <tr>
                        <td>@item.Email</td>
                        <td>@item.Name</td>
                        <td>@item.Inventory_ID</td>
                        <td>
                            <a asp-page="/Detail" asp-route-id="@item.Email">View</a>
                            <a asp-page="/Edit" asp-route-id="@item.Email">|Edit</a>
                            <a asp-page="/OwleeDelete" asp-route-id="@item.Email">|Delete</a>
                        </td>
                    </tr>
                }
            }
        }
    </tbody>
</table>
