@page "{id}"
@model owlo_plan.Pages.PublishProjectModel
@{
    ViewData["Title"] = $"OWLO Plan - Publish";
    ViewData["Page"] = "Publish Project";
}
@section Header{
    <link href="~/jobick_assets/vendor/jquery-nice-select/css/nice-select.css" rel="stylesheet">
    <link href="~/jobick_assets/vendor/owl-carousel/owl.carousel.css" rel="stylesheet">
    <link href="~/jobick_assets/vendor/fullcalendar/css/main.min.css" rel="stylesheet">

}
    @if (Model.MyProject.Published == false)
    {
    <form asp-page-handler="Publish" asp-route-projectid="@Model.MyProject.Project_ID" method="post">
        <div class="d-flex align-items-center mb-4 flex-wrap">
            <h3 class="fs-20 font-w600  me-auto">Publishing</h3>
            <div>
                @*<a asp-page="/ManagePublicity" asp-route-id="@Model.MyProject.Project_ID" class="btn btn-outline-primary me-3 btn-sm"><i class="fas fa-bullhorn me-2"></i>Publicity</a>*@
                <a asp-page="/OwloPlan/ManageProject" asp-route-id="@Model.MyProject.Project_ID" class="btn btn-primary me-3 btn-sm"><i class="bi bi-chevron-left"></i>Manage</a>

                <button type="submit" class="btn btn-success  me-3 btn-sm">
                    Publish Project
                </button>
            </div>
        </div>
    </form>
    }
    else
    {
    <form asp-page-handler="UnPublish" asp-route-projectid="@Model.MyProject.Project_ID" method="post">
        <div class="d-flex align-items-center mb-4 flex-wrap">
            <h3 class="fs-20 font-w600  me-auto">Publishing</h3>
            <div>
                @*<a asp-page="/ManagePublicity" asp-route-id="@Model.MyProject.Project_ID" class="btn btn-outline-primary me-3 btn-sm"><i class="fas fa-bullhorn me-2"></i>Publicity</a>*@
                <a asp-page="/OwloPlan/ManageProject" asp-route-id="@Model.MyProject.Project_ID" class="btn btn-primary me-3 btn-sm"><i class="bi bi-chevron-left"></i>Manage</a>

                <button type="submit" class="btn btn-warning  me-3 btn-sm">
                    Unpublish Project
                </button>
            </div>
        </div>
    </form>
    }


<div class="row">
    <div class="col-xl-8">
        <div class="card">
            <div class="card-body">
                <div class="post-details">
                    <h3 class="mb-2 text-black">@Model.MyProject.Title</h3>
                    <br />
                    <div class="d-flex align-items-center mb-4 flex-wrap">
                        <h4 class="text-primary me-auto">Project Image</h4>
                        <div>
                            <a class="btn btn-primary btn-sm" asp-page="/OwloPlan/editProjectImage" asp-route-id="@Model.MyProject.Project_ID"><i class="fas fa-edit me-auto"></i></a>

                        </div>
                    </div>
                    @if (Model.MyProject.Image == "" || Model.MyProject.Image == null)
                    {
                        <img src="/jobick_assets/images/profile/8.jpg" alt="" class="img-fluid mb-3 w-100 rounded">

                    }
                    else
                    {
                        <img src="@Model.MyProject.Image" alt="" class="img-fluid mb-3 w-100 rounded">

                    }
                    <div class="d-flex align-items-center mb-4 flex-wrap">
                        <h4 class="text-primary me-auto">Description</h4>
                        <div>
                            <a class="btn btn-primary btn-sm" asp-page="/OwloPlan/editDescription" asp-route-id="@Model.MyProject.Project_ID"><i class="fas fa-edit me-auto"></i></a>

                        </div>
                    </div>
                    <p>@Model.MyProject.Description</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4">
        <div class="card">
            <div class="card-body">
                <div class="post-details">
                    <h3 class="mb-2 text-black">Details</h3>
                </div>
                <div class="profile-skills mt-5 mb-5">
                    <div class="d-flex align-items-center mb-4 flex-wrap">
                        <h4 class="text-primary me-auto">Skills Needed</h4>
                        <div>
                            <a class="btn btn-primary btn-sm" asp-page="/OwloPlan/addSkills" asp-route-id="@Model.MyProject.Project_ID"><i class="fas fa-plus me-auto"></i></a>

                        </div>
                    </div>
                    @if (Model.AllSkills.Count > 0)
                    {

                        @foreach (var resource in Model.AllSkills)
                        {
                            <form asp-page-handler="DeleteSkill" asp-route-projectid="@resource.Project_ID" asp-route-id="@resource.SkillsNeeded_ID" method="post">

                                <a href="javascript:void();;" class="btn btn-primary light btn-xs mb-1">
                                    @resource.Skill
                                    <button type="submit" class="btn light  sharp">
                                        <i class="fas fa-times m-0"></i>
                                    </button>
                                </a>
                            </form>


                        }

                    }
                    else
                    {
                        <p>Add skills so you will find the right volunteers</p>
                    }
                </div>
                <div class="profile-skills mt-5 mb-5">
                    <div class="d-flex align-items-center mb-4 flex-wrap">
                        <h4 class="text-primary me-auto">Causes</h4>
                        <div>
                            <a class="btn btn-primary btn-sm" asp-page="/OwloPlan/addCauses" asp-route-id="@Model.MyProject.Project_ID"><i class="fas fa-plus me-auto"></i></a>

                        </div>
                    </div>
                    @if (Model.AllCauses.Count > 0)
                    {

                        @foreach (var resource in Model.AllCauses)
                        {
                            <form asp-page-handler="DeleteCause" asp-route-projectid="@resource.Project_ID" asp-route-id="@resource.Causes_id" method="post">

                                <a href="javascript:void();;" class="btn btn-primary light btn-xs mb-1">
                                    @resource.Cause
                                    <button type="submit" class="btn light sharp">
                                        <i class="fas fa-times m-0"></i>
                                    </button>
                                </a>
                            </form>


                        }

                    }
                    else
                    {
                        <p>Add causes so your volunteers know what the projects intentions are</p>
                    }
                </div>
                <div class="profile-skills mt-5 mb-5">
                    <div class="d-flex align-items-center mb-4 flex-wrap">
                        <h4 class="text-primary me-auto">Community Partners</h4>
                        <div>
                            <a class="btn btn-primary btn-sm " asp-page="/OwloPlan/addCommunityPartner" asp-route-id="@Model.MyProject.Project_ID"><i class="fas fa-plus me-auto"></i></a>

                        </div>
                    </div>
                    @if (Model.AllCommunityPartners.Count > 0)
                    {

                        @foreach (var resource in Model.AllCommunityPartners)
                        {
                            <form asp-page-handler="DeleteCommunityPartner" asp-route-projectid="@resource.Project_ID" asp-route-id="@resource.CommunityPartners_ID" method="post">

                                <a href="javascript:void();;" class="btn btn-primary light btn-xs mb-1">
                                    @resource.CommunityPartner
                                    <button type="submit" class="btn light sharp">
                                        <i class="fas fa-times m-0"></i>
                                    </button>
                                </a>
                            </form>


                        }

                    }
                    else
                    {
                        <p>Add community partners so people will know who you are working with</p>
                    }
                </div>
                @*meet the team*@
                <h4 class="text-primary mb-2">Meet the team</h4>

                <div class="owl-carousel owl-loaded front-view-slider owl-drag">
                    <div class="owl-stage-outer">
                        <div class="owl-stage" style="display:flex;transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 1310px;">
                            @if (Model.AllTeamMembers.Count > 0)
                            {

                                @foreach (var resource in Model.AllTeamMembers)
                                {
                                    <div class="owl-item active" style="width: auto; margin-right: 30px;">
                                        <div class="items">

                                            <div class="jobs">
                                                <div class="text-center">
                                                    <h4 class="mb-0">@resource.UserName</h4>
                                                    <p class="mb-0">@resource.role</p>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }

                            }
                            else
                            {
                                <p>Add your team members in the manage project page</p>
                            }
                        </div>
                    </div><div class="owl-nav"><div class="owl-prev disabled"></div><div class="owl-next"></div></div><div class="owl-dots"><div class="owl-dot active"><span></span></div><div class="owl-dot"><span></span></div><div class="owl-dot"><span></span></div><div class="owl-dot"><span></span></div><div class="owl-dot"><span></span></div></div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/vendor/owl-carousel/owl.carousel.js"></script>
    <!-- Required vendors -->
    <script type="text/javascript">
        function deleteTask(id) {
            var task = document.getElementById(id)
            task.remove()
            fetch("Task/DeleteTask", {
                method: 'POST',
                body: JSON.stringify({ taskid: id }),
            }).then(res => res.json())
                .then(response => console.log('Success:', JSON.stringify(response)))
                .catch(error => console.error('Error:', error));
        }
    </script>
    <script>
        function JobickCarousel() {

            /*  testimonial one function by = owl.carousel.js */
            jQuery('.front-view-slider').owlCarousel({
                loop: false,
                margin: 30,
                nav: true,
                autoplaySpeed: 3000,
                navSpeed: 3000,
                autoWidth: true,
                paginationSpeed: 3000,
                slideSpeed: 3000,
                smartSpeed: 3000,
                autoplay: false,
                animateOut: 'fadeOut',
                dots: true,
                navText: ['', ''],
                responsive: {
                    0: {
                        items: 1
                    },

                    480: {
                        items: 1
                    },

                    767: {
                        items: 3
                    },
                    1750: {
                        items: 3
                    }
                }
            })
        }

        jQuery(window).on('load', function () {
            setTimeout(function () {
                JobickCarousel();
            }, 1000);
        });


    </script>
}