@page "{id}"
@model owlo_plan.Pages.ViewProfileModel
@{
    ViewData["Title"] = $"OWLO Plan - View Profile";
    ViewData["Page"] = "View profile";}
<div class="row">
    <div class="col-xl-4">
        <div class="card">
            <div class="card-body">
                <div>
                    <div class="user d-sm-flex d-block pe-md-5 pe-0">
                        <img src="/jobick_assets/images/profile/profile.png" alt="">
                        <div class="profile-details">
                            <div class="profile-name px-3 pt-2">
                                <h4 class="text-primary mb-0">@Model.owler.username</h4>
                                <p>@Model.owler.Email</p>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <div class="post-details">
                    <h3 class="mb-2 text-black">About Me</h3>
                    <p>@Model.owler.bio</p>
                </div>
                <div class="profile-skills mt-5 mb-5">
                    <div class="d-flex align-items-center mb-4 flex-wrap">
                        <h4 class="text-primary me-auto">Skills</h4>
                    </div>
                    @if (Model.userSkills.Count > 0)
                    {

                        @foreach (var resource in Model.userSkills)
                        {

                                <a href="javascript:void();;" class="btn btn-primary light btn-xs mb-1">
                                    @resource.userSkill
                                </a>

                        }

                    }
                    else
                    {
                        <p>Add skills to let people know what you are capable of</p>
                    }
                </div>
                <div class="profile-skills mt-5 mb-5">
                    <div class="d-flex align-items-center mb-4 flex-wrap">
                        <h4 class="text-primary me-auto">Interests</h4>
                    </div>
                    @if (Model.userInterests.Count > 0)
                    {

                        @foreach (var resource in Model.userInterests)
                        {
                            <a href="javascript:void();;" class="btn btn-primary light btn-xs mb-1">
                                @resource.interest
                            </a>
                        }

                    }
                    else
                    {
                        <p>Add interests to show people your willingness to commit!</p>
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-8">
        <div class="card">
            <div class="card-body">
                <div class="post-details">
                    <div class="d-flex align-items-center mb-4 flex-wrap">
                        <h3 class="mb-2 text-black me-auto">My Projects</h3>
                        <div>
                            <a class="btn btn-success btn-sm" asp-page="/SelectProjectToInvite" asp-route-id="@Model.owler.Email">Invite</a>

                        </div>
                    </div>
                    <br />
                    @if (Model.AllMyProjects.Count > 0)
                    {
                        @foreach (var task in Model.AllMyProjects)
                        {
                            <div>
                                <a asp-page="/OwloPlan/ViewProject" asp-route-id="@task.Project.Project_ID">
                                    <div class="card border border-1">
                                        <div class="card-body">
                                            <h4 class="fs-20">@task.Project.Title</h4>
                                            <div class="listline-wrapper mb-4">
                                                @foreach (var com in task.CommunityPartners)
                                                {
                                                    <span class="item">
                                                        @com.CommunityPartner.Trim()
                                                    </span>
                                                }
                                            </div>
                                            <p class="mb-0">@task.Project.Description </p>
                                        </div>
                                        <div class="card-footer d-flex justify-content-between align-items-center flex-wrap">
                                            <div class="mb-2">

                                            </div>
                                            <div class="mb-2">
                                                <h4 class="fs-20">Role: @task.MyRole</h4>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        }



                    }
                    else
                    {
                        <br />
                        <p class="text-center">Looks like the user has participated in any projects yet</p>
                    }

                </div>
            </div>
        </div>
    </div>
</div>